@model ViewModel.ForgotPassword
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_LayoutLogin.cshtml";

}

<!-- BEGIN LOGIN -->

<!-- BEGIN LOGIN FORM -->


    
<div class="main">
		<h1>Password Reset</h1> 
	

	
		<div class="main-info">
			<div class="sap_tabs">
				<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
					<ul class="resp-tabs-list">
						<li class="resp-tab-item" aria-controls="tab_item-0"><h2><span>Password Reset</span></h2></li>
						<li class="resp-tab-item" aria-controls="tab_item-1"><span> <a style="color: #fff;"  href="@Url.Action("Index","Admin")">  < Back to Login </a></span></li> 
					</ul>	
					<div class="clear"> </div>	
					<div class="resp-tabs-container">

						@using (Html.BeginForm("ForgotPassword", "Admin", FormMethod.Post, new { @class = "login-form" }))
				{     



					
 			  if (ViewBag.Sucess == null)
  				  {
         
     
     					 <h5 style="color :red;padding: 15px;">  @Html.ValidationSummary(false)  </h5> 
     
    
   				 }

						

						<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
							<div class="agileits-login">
					
				






							
									
									@Html.TextBoxFor(model => model.EmailId, new { @placeholder = "Email Id", @class="email" , required="" })
								
									<div class="wthree-text"> 
										
										<div class="clear"> </div>
									</div> 
							
									<div class="w3ls-submit">
										<div class="submit-text">
											<input type="submit" value="Submit"> 
										</div>	
									</div>	







							
							</div> 
						</div>
						}
					</div>	
				</div>
				<div class="clear"> </div>
			</div>  
		</div>


<!-- END LOGIN -->

