@using Codes
<ul class="page-breadcrumb breadcrumb">

    <li>
        <i class="icon-home"></i>
        <a href="@Url.Action("Index", "Dashboard")">
              Dashboard
        </a>
        <i class="icon-angle-right"></i>
    </li>
    <li>
        <a href="@Url.Action("Index", "User")">
              All Users
        </a>
        <i class="icon-angle-right"></i>
    </li>
    <li><a href="@Url.Action("Detail", "User")">
       Add New User
         </a></li>
</ul>
