@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
 

<section class="mainContent full-width clearfix">
      <div class="container">
        <div class="sectionTitle text-center">
          <h2 style="color: #2cd679">
            <span class="shape shape-left bg-color-4"></span>
            <span>  



             <b>THANK YOU  @Html.Raw(ViewBag.Message)  FOR BOOKING. <br/> 
                        Your booking details have been sent to your e-mail.<br/>
                        We will contact you soon..<b/></span>







				</span>
            <span class="shape shape-right bg-color-4"></span>
          </h2>
        </div>
		</div></section>
